<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Titulo
    </ion-title>
  </ion-toolbar>
  
</ion-header>





<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Titulo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>

    <ion-item *ngFor="let c of componentes" 
      [routerLink]="c.redirecTo" detail>
      <ion-icon slot="start" [name]="c.icon"></ion-icon>
      <ion-label>{{ c.name }}</ion-label>
    </ion-item>
  </ion-list>

  <div id="container">
    <ion-button routerLink="/alerts"  >
      Alert
    </ion-button>
    <ion-button routerLink="/data"  >
      Data
    </ion-button>
  </div>
</ion-content>
